body, .showTable {
    text-align: center;
}
.table1, .show {
    width: 200px;
}
table {
    display: inline-block;
}
table th {
    background-color: grey;
    color: white;
    width: 30px;
}
.odd td {
    background-color: lightgray;
    width: 30px;
}
input[type="button"] {
    width: 75px;
}